<!DOCTYPE html>

<head>
  <meta charset="utf-8">

  <style>
    .container {
      display: flex;
      justify-content: space-evenly;
    }

    .selection-container {
      display: flex;
      justify-content: space-evenly;
    }

    .horizontal_div {
      width: 800px;
      height: 800px;
      border: 1px black;
      background: white;
      margin: 5px;
    }

    .links line {
      stroke: rgb(0, 0, 0);
      stroke-opacity: 0.6;
    }

    .nodes circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }

    text {
      font-family: sans-serif;
      font-size: 10px;
    }
  </style>
</head>

<body>
  <title>
    DBL-Webtech Group 12BC Visualizations
  </title>

  <header>
    <h1 style="text-align:center; font-size: 300%; color: crimson;"> Visualizations </h1>
  </header>

  <main>
    <div>
      <p style="text-align: center;">
        {{message}}
      </p>
      <form class="" id="upload-form" action="javascript:void(0);" method="post" enctype="multipart/form-data" ;
        style="text-align: center;">
        <input type="file" id='csv-file' name="csvfile" value="" ; style="text-align:center">
        <input type="submit" name="" value="Submit" ; style="text-align: center;">
      </form>
    </div>
    </br>
    </br>
    <div class="selection-container" style="padding-left: 1em;">
      <select class="form-select" aria-label="Default select example" id="selection-1"  onchange="displayVisualization(this.selectedIndex)">
        <option selected>Please choose a visualization to be displayed</option>
        <option value="1">Pie Chart</option>
        <option value="2">Force Directed Graph</option>
        <option value="3">Heat Map</option>
      </select>

      <select class="form-select" aria-label="Default select example" id="selection-2">
        <option selected>Please choose a visualization to be displayed</option>
        <option value="1">Pie Chart</option>
        <option value="2">Force Directed Graph</option>
        <option value="3">Heat Map</option>
      </select>
    </div>
    </br>
    <div class="container">
      <div style="width: 800px;height: 800px;border:1px solid #000; text-align: center;" ; id="horizontal_div">
        <svg width="800" height="800">
        </svg>
      </div>
      <div style="width: 800px;height: 800px;border:1px solid #000; text-align: center;" ; id="horizontal_div">
        <svg width="800" height="800">
        </svg>
      </div>
    </div>

  </main>


  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function (e) {
      // Submit form data via Ajax
      $("#upload-form").on('submit', function (e) {
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: '/visualizations/',
          data: new FormData(this),
          dataType: 'file',
          contentType: false,
          cache: false,
          processData: false
        });
      });
    });

    function displayVisualization(selectedIndex) {
      if (selectedIndex === '2'){
        ForceDirectedGraph();
      }
    }
    function ForceDirectedGraph() {
      let filename = document.getElementById('csv-file').value.split("\\").pop();
      var svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

      var color = d3.scaleOrdinal(d3.schemeCategory20);
      d => scale(d.group);

      var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function (d) {
          return d.id;
        }))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

      d3.json("/visualizations/example", function (error, graph) {
        if (error) throw error;

        var link = svg.append("g")
          .attr("class", "links")
          .selectAll("line")
          .data(graph.links)
          .enter().append("line")
          .attr("stroke-width", function (d) {
            return d.sentiment;
          });

        var node = svg.append("g")
          .attr("class", "nodes")
          .selectAll("circle")
          .data(graph.nodes)
          .enter().append("circle")
          .attr("r", 5)
          .attr("fill", function (d) {
            return color(d.group);
          })
          .call(d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended));

        node.append("title")
          .text(function (d) {
            return "Email: " + d.id + ", Jobtitle: " + d.group;
          });

        link.append("title")
          .text(function (d) {
            return "Sentiment: " + d.sentiment;
          });

        simulation
          .nodes(graph.nodes)
          .on("tick", ticked);

        simulation.force("link")
          .links(graph.links);

        function ticked() {
          link
            .attr("x1", function (d) {
              return d.source.x;
            })
            .attr("y1", function (d) {
              return d.source.y;
            })
            .attr("x2", function (d) {
              return d.target.x;
            })
            .attr("y2", function (d) {
              return d.target.y;
            });

          node
            .attr("cx", function (d) {
              return d.x;
            })
            .attr("cy", function (d) {
              return d.y;
            });
        }
      });

      function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      }

      function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
      }

      function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
      }
    }
  </script>


</body>
