<!DOCTYPE html>

<head>
  <meta charset="utf-8">

  <style>
    .container {
      display: flex;
      justify-content: space-evenly;
    }

    .selection-container {
      display: flex;
      justify-content: space-evenly;
    }

    .horizontal_div {
      width: 800px;
      height: 800px;
      border: 1px black;
      background: white;
      margin: 5px;
    }

    .links line {
      stroke: rgb(8, 8, 8);
      stroke-opacity: 0.6;
    }

    .nodes circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }

    text {
      font-family: sans-serif;
      font-size: 10px;
    }

    .highcharts-figure,
    .highcharts-data-table table {
      min-width: 320px;
      max-width: 800px;
      margin: 1em auto;
    }

    .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #EBEBEB;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 500px;
    }

    .highcharts-data-table caption {
      padding: 1em 0;
      font-size: 1.2em;
      color: #555;
    }

    .highcharts-data-table th {
      font-weight: 600;
      padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
      padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
      background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
      background: #f1f7ff;
    }


    input[type="number"] {
      min-width: 50px;
    }

    .highcharts-credits {
      display: hidden !important;
    }
  </style>

  <!-- dependencies for front-end visualization -->
  
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>

<body>
  <title>
    DBL-Webtech Group 12BC Visualizations
  </title>

  <header>
    <h1 style="text-align:center; font-size: 300%; color: crimson;"> Visualizations </h1>
  </header>

  <main>
    <div>
      <p style="text-align: center;">
        {{message}}
      </p>
      <form class="" id="upload-form" action="javascript:void(0);" method="post" enctype="multipart/form-data" ;
        style="text-align: center;">
        <input type="file" id='csv-file' name="csvfile" value="" ; style="text-align:center">
        <input type="submit" name="" value="Submit" ; style="text-align: center;">
      </form>
    </div>
    </br>
    </br>
    <div class="selection-container" style="padding-left: 1em;">
      <select class="form-select" aria-label="Default select example" id="selection-1"
        onchange="displayVisualization(this.value, '1')">
        <option selected>Please choose a visualization to be displayed</option>
        <option value="1">Pie Chart</option>
        <option value="2">Force Directed Graph</option>
        <option value="3">Heat Map</option>
      </select>

      <select class="form-select-2" aria-label="Default select example" id="selection-2"
        onchange="displayVisualization(this.value, '2')">
        <option selected>Please choose a visualization to be displayed</option>
        <option value="1">Pie Chart</option>
        <option value="2">Force Directed Graph</option>
        <option value="3">Heat Map</option>
      </select>
    </div>
    </br>
    <div class="container">

      <div style="width: 800px;height: 1000px;border:1px solid #000; text-align: center;" ; id="horizontal_div">
        <div class="highcharts-figure">
          <div id="container-1"></div>
            <p class="highcharts-description">
            </p>
  
            <div id="container1-1"></div>
            <p class="highcharts-description">
            </p>
          <svg width="800" height="800" id="svg-1">
          </svg>
        </div>
      </div>
      <div style="width: 800px;height: 1000px;border:1px solid #000; text-align: center;" ; id="horizontal_div">
        <div class="highcharts-figure">
          <div id="container-2"></div>
            <p class="highcharts-description">
            </p>
  
            <div id="container1-2"></div>
            <p class="highcharts-description">
            </p>
          <svg width="800" height="800" id="svg-2">
          </svg>
        </div>
      </div>
    </div>

  </main>

  <script>
    $(document).ready(function (e) {
      // Submit form data via Ajax
      $("#upload-form").on('submit', function (e) {
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: '/visualizations/',
          data: new FormData(this),
          dataType: 'file',
          contentType: false,
          cache: false,
          processData: false
        });
      });
    });

    function displayVisualization(value, svgId) {
      if (value === '2' && value !== '1') {
        ForceDirectedGraph(svgId)
      }
      if (value === '1' && value !== '2') {
        PieChart(svgId)
      }

    }

    function ForceDirectedGraph(svgId) {
      let filename = document.getElementById('csv-file').value.split("\\").pop();
      var svg = d3.select(`#svg-${svgId}`),
        width = +svg.attr("width"),
        height = +svg.attr("height");

      var color = d3.scaleOrdinal(d3.schemeCategory20);
      d => scale(d.group);

      var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function (d) {
          return d.id;
        }))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

      d3.json("/visualizations/ForcedDirectedGraph", function (error, graph) {
        if (error) throw error;

        var link = svg.append("g")
          .attr("class", "links")
          .selectAll("line")
          .data(graph.links)
          .enter().append("line")
          .attr("stroke-width", function (d) {
            return d.sentiment;
          });

        var node = svg.append("g")
          .attr("class", "nodes")
          .selectAll("circle")
          .data(graph.nodes)
          .enter().append("circle")
          .attr("r", 5)
          .attr("fill", function (d) {
            return color(d.group);
          })
          .call(d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended));

        node.append("title")
          .text(function (d) {
            return "Email: " + d.id + ", Jobtitle: " + d.group;
          });

        link.append("title")
          .text(function (d) {
            return "Sentiment: " + d.sentiment;
          });

        simulation
          .nodes(graph.nodes)
          .on("tick", ticked);

        simulation.force("link")
          .links(graph.links);

        function ticked() {
          link
            .attr("x1", function (d) {
              return d.source.x;
            })
            .attr("y1", function (d) {
              return d.source.y;
            })
            .attr("x2", function (d) {
              return d.target.x;
            })
            .attr("y2", function (d) {
              return d.target.y;
            });

          node
            .attr("cx", function (d) {
              return d.x;
            })
            .attr("cy", function (d) {
              return d.y;
            });
        }
      });

      function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      }

      function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
      }

      function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
      }
    }

    function PieChart(svgId) {
      let filename = document.getElementById('csv-file').value.split("\\").pop();

      var data;

      //fetch csv dosyasini okumamizi saglar
      fetch(`/visualizations/pie_chart`).then((res) => res.json()).then((res) => {
        data = res;
        //okudugumuz veriden sadece from jobtitle lari aliyoruz 
        let jobtitle = data.map((x) => {
          return x.fromJobtitle
        })
        //elimizde kac farkli jobtitle var 
        jobtitle = [...new Set(jobtitle)]
        let formated = []
        //her bir jobtitle icin yuzde hesaplanir ve bu yuzdeler formated degiskenine atilir 
        for (const key in jobtitle) {
          if (Object.hasOwnProperty.call(jobtitle, key)) {
            const element = jobtitle[key];
            const count = data.filter(x => x.fromJobtitle === element).length;
            const percentage = parseFloat(count / data.length).toFixed(4) * 100;
            formated.push({ name: element, y: percentage })

            console.log(percentage);


          }
        }
        createchart(formated, svgId);
        const list = document.getElementsByClassName('highcharts-figure');
        list[0].style.display = "hidden"
        console.log(jobtitle)
        console.log(list)
      })

      function createchart(formated, containerId) {
        Highcharts.chart(`container-${containerId}`, {
          chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
          },

          title: {
            text: 'Percentage of email send from JobTitles'
          },
          tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          accessibility: {
            point: {
              valueSuffix: '%'
            }
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
              }
            },
            series: {
              events: {
                click: function (event) {
                  let title = data.filter(x => x.fromJobtitle === event.point.name)
                  let jobtitle = title.map((x) => {
                    return x.toJobtitle
                  })
                  jobtitle = [...new Set(jobtitle)]
                  let formated = []
                  for (const key in jobtitle) {
                    if (Object.hasOwnProperty.call(jobtitle, key)) {
                      const element = jobtitle[key];
                      const count = title.filter(x => x.toJobtitle === element).length;
                      const percentage = parseFloat(count / title.length).toFixed(4) * 100;
                      formated.push({ name: element, y: percentage });
                      console.log(percentage);
                    }
                  }
                  console.log(title)
                  createchart1(formated, containerId)
                }
              },
            },
          },
          series: [{
            name: 'Job Titles',
            colorByPoint: true,
            data: formated

          }]
        });
      }
      function createchart1(formated, containerId) {
        Highcharts.chart(`container1-${containerId}`, {
          chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
          },

          title: {
            text: 'Percentage of email send to JobTitles'
          },
          tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          accessibility: {
            point: {
              valueSuffix: '%'
            }
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
              }
            },

          },
          series: [{
            name: 'Job Titles',
            colorByPoint: true,
            data: formated

          }]
        });
      }

    }
  </script>


</body>
