<!Doctype html>
<html>
<head>
  <title> DBL-Webtech Group 12BC</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">    </title>
</head>
    <body style=" color:aliceblue" background-size=cover background="../assets/background-6228032_1920.jpg"> 
      <!-- ======= Navbar ======= -->
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class= "nav-link scrollto" href="#1"> <i class="bx bx-book-content"></i> <span>About</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link scrollto" href="#2"> <i class="bx bx-camera"></i> <span> Visualizations</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link scrollto" href="#3"> <i class="bx bx-user"></i> <span> Video</span></a>
            <li class="nav-item">
              <a class="nav-link scrollto" href="#4"> <i class="bx bx-user"></i> <span> Contact</span></a>
          </ul>
           <nav id="navbar" class="nav-menu navbar">
          </nav> 
      </nav> -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">DBL-Webtech</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="AQ.html">Visualizations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#video">Video</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <header >
          <!-- <div style="background-image: url('https://images.creativemarket.com/0.1.0/ps/69173/580/389/m1/fpnw/wm0/webtech-.png?1391012967&s=766b6ab58f734701c9c885894e02ddef');"></div> -->
          <h1 class="text-center mt-4"> DBL-Webtech Group 12BC </h1>
          <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
            <marquee behavior=alternate width=”202″ scrollamount=”8″ scrolldelay=”95″ height=”37″ style="font-size: 150%;"> To See Some Fun Visulizations Click on the Visulizations</marquee>
          </section>
        </header>
        <main class="w-md-75 mx-auto  pt-5 text-center">
           <!-- ======= About Section ======= -->
           <div class="w-50 mx-auto page-section hero" id="about">
            <h4><b>About</b></h4>
            <p class="fs-5"><em> Welcome to the home page of group 12BC. This web page shows some fun and entertanining visualizations as well as informations. To see the visualizations you can click on the visualizations link.</em>
            </p>
            <p class="fs-5"> <em>  To see our awesome video just click the link under the Video section. You can also find our names and student id's in the contact section.</em> </p>
           </div>
           <div class="d-md-flex justify-content-center mt-5 ">
             <!-- ======= Visulizations Section ======= -->
            <div class="me-5 page-section hero" id="2">
              <!-- <h4><b>Visualizations</b></h4> -->
              <!-- <p><em>To see some visualizations, just click the link below. </em></p> -->
              <!-- <a href="/visualizations/" target="_blank"> <h6 style="color: rgb(0, 255, 255);"> <b>View Visualizations </b></h6></a> -->
              <a href="./AQ.html" target="_blank"><button class="btn btn-primary">View Visualizations</button></a>
            </div>
            <!-- ======= Video Section ======= -->
            <div class=" page-section hero" id="video">
              <!-- <h4> <b> Video </b></h4> -->
              <!-- <a href="https://www.google.com" target="_blank"><h1 style="font-size: 100%; color: rgb(0, 255, 255); padding-left: 1.5em;"><b>View video </b></h1> </a> -->
              <a href="https://www.google.com" target="_blank"><button class="btn btn-warning ">Watch Video</button></a>

            </div>
          </div>
            <!-- ======= Contact Section ======= -->
            <div class="my-5 page-section hero" id="4">
              <h4 class="mt-5 mb-3"> <b> Contact </b></h4>
              <div class="d-md-flex justify-content-center">
                <div class="mx-4"> 
                  <p><em> Doruk Gungor Student ID: 1533916 </em></p>
                  <p><em> Eva Rennspies Student ID: 1545760</em></p>
                  <p><em> Michail Timanov Student ID: 1579401</em> </p>
                </div>
                <div class="mx-4">  
                  <p><em> Cihan Guleryuz Student ID: 1559117 </em> </p>
                  <p><em> Emir Kokmen Student ID: 1568159</em> </p>
                  <p><em> Tianhao Shi Student ID: 1496158 </em> </p></div>
              </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>      
    </body>
</html>
